/* Colors */
$ws-white: #ffffff;
$ws-black: #000000;
$ws-snow: #f9f9f9; /* #f9fafb */
$ws-white-smoke: #f2f2f5; /* #eef0f3 */
$ws-isabelline: #e2e5e9; /* #e4e7e9, #e8e8ea, #b8babc */
$ws-lighter: #d4d7d9;
$ws-light: #bec2c4;
$ws-light-gray: #bbc7d3; /* #b1bcc6 */
$ws-light-slate-gray: #6f7c8d; /* #666666 */
$ws-stale-gray: #80878d;
$ws-dark-gray: #949a9e;
$ws-davys-gray: #3c424c;
$ws-char-coal: #2b3339; /* #3b4a59 */
$ws-medium-jungle-gray: #242628; /* #131921 */
$ws-dark-blue: #2c3742;
$ws-blue: #1083ff;
$ws-aqua: #9ececa;
$ws-purple: #383052;
$ws-coral-red: #f82b3a;
$ws-red: #dd5656;
$ws-mikado-yellow: #eeae12;
$ws-orange: #e4aa34;
$ws-emerald: #43b574;
$ws-green: #80c700;

$ws-primary: #1083ff;
$ws-secondary: $ws-isabelline;
$ws-accent: #fc464a;
